.form{
    width: 310px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 15px;
}
.form label{
    display: inline-block;
    width: 100px;  
}
.form *{
    padding: 5px;
}
.form h3{
    text-align: center;
}
.tripForm{
    width: 70%;
}
.tripForm input{
    width: 75%;
    min-width: 200px;
}
.tripForm input[type="submit"]{
    width: 90px;
}
.center{
    padding-left: auto;
    padding-right: auto;
}
.flex{
    display:flex;
    justify-content: space-around;
}
button{
    margin: 5px;
}
.textCenter{
    text-align: center;
}